Repository bao-project/bao-hypervisor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @josecm, @sandro2pinto, @DavidMCerdeira, @danielRep, @miguelafsilva5, @ninolomata

fix(linker): add data no copy section for boot related vars
  src/arch/armv8/aarch32/boot.S
  src/arch/armv8/cpu.c
  src/arch/riscv/cpu.c
  src/core/mem.c
  src/linker.ld
Owners: @josecm, @danielRep, @miguelafsilva5, @DavidMCerdeira, @ninolomata

fix(aarch32): add missing data copy for non-unified plats
  src/arch/armv8/aarch32/boot.S
Owners: @josecm, @danielRep, @miguelafsilva5

fix(linker): adjust phy mem begin for non-unified plats
  src/linker.ld
Owners: @josecm, @DavidMCerdeira

fix(aarch32): add missing data copy for non-unified plats
  src/arch/armv8/aarch32/boot.S
Owners: @josecm, @danielRep, @miguelafsilva5

fix(linker): adjust phy mem begin for non-unified plats
  src/linker.ld
Owners: @josecm, @DavidMCerdeira

fix(linker): add data no copy section for boot related vars
  src/arch/armv8/aarch32/boot.S
  src/arch/armv8/cpu.c
  src/arch/riscv/cpu.c
  src/core/mem.c
  src/linker.ld
Owners: @josecm, @danielRep, @miguelafsilva5, @DavidMCerdeira, @ninolomata

feat(phys-irqs): add support to physical interrupts
  Makefile
  src/core/vm.c
Owners: @josecm, @sandro2pinto, @DavidMCerdeira, @danielRep

feat(phys-irqs): add support to physical interrupts
  Makefile
  src/core/vm.c
Owners: @josecm, @sandro2pinto, @DavidMCerdeira, @danielRep

fix(mem): fetch img_addr variable address correctly in asm
  src/arch/armv8/aarch32/boot.S
  src/arch/armv8/aarch64/boot.S
  src/arch/riscv/boot.S
Owners: @josecm, @danielRep, @miguelafsilva5, @DavidMCerdeira, @ninolomata

ref(mem): change hyp mem management to cope with non-unified plats
  src/arch/armv8/aarch32/boot.S
  src/arch/armv8/aarch64/boot.S
  src/arch/riscv/boot.S
Owners: @josecm, @danielRep, @miguelafsilva5, @DavidMCerdeira, @ninolomata

fix(img_addr): define load and data address in C
  src/arch/armv8/aarch32/boot.S
  src/arch/armv8/aarch64/boot.S
  src/arch/riscv/boot.S
Owners: @josecm, @danielRep, @miguelafsilva5, @DavidMCerdeira, @ninolomata

ref(as): remove unused variable from addr_space struct
  src/core/mpu/inc/mem_prot/mem.h
  src/core/mpu/mem.c
  src/core/mpu/vm.c
  src/core/vm.c
Owners: @josecm, @danielRep, @miguelafsilva5, @DavidMCerdeira

fix(mem): fetch img_addr variable address correctly in asm
  src/arch/armv8/aarch32/boot.S
  src/arch/armv8/aarch64/boot.S
  src/arch/riscv/boot.S
Owners: @josecm, @danielRep, @miguelafsilva5, @DavidMCerdeira, @ninolomata

fix(linker): fix broken linker symbols
  src/arch/armv8/aarch32/boot.S
  src/linker.ld
Owners: @josecm, @danielRep, @miguelafsilva5, @DavidMCerdeira

ref(as): remove unused variable from addr_space struct
  src/core/mpu/inc/mem_prot/mem.h
  src/core/mpu/mem.c
  src/core/mpu/vm.c
  src/core/vm.c
Owners: @josecm, @danielRep, @miguelafsilva5, @DavidMCerdeira

feat(slave-side-prot): add mmio regions to platform description
  src/core/inc/platform.h
  src/core/mpu/mem.c
Owners: @josecm, @DavidMCerdeira, @danielRep, @miguelafsilva5

feat(slave-side-prot): add device access control enable function
  src/core/inc/vm.h
  src/core/vm.c
Owners: @josecm, @DavidMCerdeira

feat(slave-side-prot): update Makefile to define prot macro
  Makefile
Owners: @josecm, @sandro2pinto, @DavidMCerdeira, @danielRep

ref(mem): change hyp mem management to cope with non-unified plats
  src/arch/armv8/aarch32/boot.S
  src/arch/armv8/aarch64/boot.S
  src/arch/riscv/boot.S
Owners: @josecm, @danielRep, @miguelafsilva5, @DavidMCerdeira, @ninolomata

fix(img_addr): define load and data address in C
  src/arch/armv8/aarch32/boot.S
  src/arch/armv8/aarch64/boot.S
  src/arch/riscv/boot.S
Owners: @josecm, @danielRep, @miguelafsilva5, @DavidMCerdeira, @ninolomata

feat(fvp): include support to fvp tests
  tests/recipes/single-baremetal/configs/fvp-a-aarch32.c
  tests/recipes/single-baremetal/configs/fvp-a.c
  tests/recipes/single-baremetal/configs/fvp-r.c
Owners: @josecm, @sandro2pinto, @DavidMCerdeira, @danielRep

update(recipes): use boot only tests on single baremetal test
  tests/recipes/single-baremetal/default.nix
Owners: @josecm, @sandro2pinto, @DavidMCerdeira, @danielRep

fix(linker): fix broken linker symbols
  src/arch/armv8/aarch32/boot.S
  src/linker.ld
Owners: @josecm, @danielRep, @miguelafsilva5, @DavidMCerdeira

ref(as): remove unused variable from addr_space struct
  src/core/mpu/inc/mem_prot/mem.h
  src/core/mpu/mem.c
  src/core/mpu/vm.c
  src/core/vm.c
Owners: @josecm, @danielRep, @miguelafsilva5, @DavidMCerdeira

feat(slave-side-prot): add mmio regions to platform description
  src/core/inc/platform.h
  src/core/mpu/mem.c
Owners: @josecm, @DavidMCerdeira, @danielRep, @miguelafsilva5

feat(slave-side-prot): add device access control enable function
  src/core/inc/vm.h
  src/core/vm.c
Owners: @josecm, @DavidMCerdeira

feat(slave-side-prot): update Makefile to define prot macro
  Makefile
Owners: @josecm, @sandro2pinto, @DavidMCerdeira, @danielRep

feat(unique-asid): force addr spaces to have unique IDs
  src/core/mmu/mem.c
  src/core/mpu/mem.c
Owners: @josecm, @DavidMCerdeira, @danielRep, @miguelafsilva5

ref(as_init): Remove id from as_init prototype
  src/core/mmu/inc/mem_prot/mem.h
  src/core/mmu/mem.c
  src/core/mmu/vm.c
  src/core/mpu/inc/mem_prot/mem.h
  src/core/mpu/mem.c
  src/core/mpu/vm.c
Owners: @josecm, @DavidMCerdeira, @danielRep, @miguelafsilva5

feat(unique-asid): force addr spaces to have unique IDs
  src/core/mmu/inc/mem_prot/mem.h
  src/core/mmu/mem.c
  src/core/mpu/inc/mem_prot/mem.h
  src/core/mpu/mem.c
Owners: @josecm, @DavidMCerdeira, @danielRep, @miguelafsilva5

ref(as_init): Remove id from as_init prototype
  src/core/mmu/inc/mem_prot/mem.h
  src/core/mmu/mem.c
  src/core/mmu/vm.c
  src/core/mpu/inc/mem_prot/mem.h
  src/core/mpu/mem.c
  src/core/mpu/vm.c
Owners: @josecm, @DavidMCerdeira, @danielRep, @miguelafsilva5

ref(mem): change hyp mem management to cope with non-unified plats
  src/arch/armv8/aarch32/boot.S
  src/arch/armv8/aarch64/boot.S
  src/arch/riscv/boot.S
Owners: @josecm, @danielRep, @miguelafsilva5, @DavidMCerdeira, @ninolomata

fix(img_addr): define load and data address in C
  src/arch/armv8/aarch32/boot.S
  src/arch/armv8/aarch64/boot.S
  src/arch/riscv/boot.S
Owners: @josecm, @danielRep, @miguelafsilva5, @DavidMCerdeira, @ninolomata

feat(unique-asid): force addr spaces to have unique IDs
  src/core/mmu/inc/mem_prot/mem.h
  src/core/mmu/mem.c
  src/core/mpu/inc/mem_prot/mem.h
  src/core/mpu/mem.c
Owners: @josecm, @DavidMCerdeira, @danielRep, @miguelafsilva5

ref(as_init): Remove id from as_init prototype
  src/core/mmu/inc/mem_prot/mem.h
  src/core/mmu/mem.c
  src/core/mmu/vm.c
  src/core/mpu/inc/mem_prot/mem.h
  src/core/mpu/mem.c
  src/core/mpu/vm.c
Owners: @josecm, @DavidMCerdeira, @danielRep, @miguelafsilva5

ref(as): remove unused variable from addr_space struct
  src/core/mpu/inc/mem_prot/mem.h
  src/core/mpu/mem.c
  src/core/mpu/vm.c
  src/core/vm.c
Owners: @josecm, @danielRep, @miguelafsilva5, @DavidMCerdeira

fix(armv8): fix aarch32 hcr init
  src/arch/armv8/vmm.c
Owners: @josecm, @DavidMCerdeira

fix(armv8): fix aarch32 hcr init
  src/arch/armv8/vmm.c
Owners: @josecm, @DavidMCerdeira

feat(unique-asid): force addr spaces to have unique IDs
  src/core/mmu/inc/mem_prot/mem.h
  src/core/mmu/mem.c
  src/core/mpu/inc/mem_prot/mem.h
  src/core/mpu/mem.c
Owners: @josecm, @DavidMCerdeira, @danielRep, @miguelafsilva5

ref(as_init): Remove id from as_init prototype
  src/core/mmu/inc/mem_prot/mem.h
  src/core/mmu/mem.c
  src/core/mmu/vm.c
  src/core/mpu/inc/mem_prot/mem.h
  src/core/mpu/mem.c
  src/core/mpu/vm.c
Owners: @josecm, @DavidMCerdeira, @danielRep, @miguelafsilva5

.github/CODEOWNERS:

* @josecm @sandro2pinto @DavidMCerdeira @danielRep

src/ @josecm @DavidMCerdeira
scripts/ @josecm

src/core/mpu @josecm @danielRep @miguelafsilva5

src/arch/armv8 @josecm @DavidMCerdeira
src/arch/armv8/armv8-r @josecm @danielRep @miguelafsilva5
src/arch/armv8/aarch32 @josecm @danielRep @miguelafsilva5

src/arch/riscv @josecm @ninolomata
