Repository bao-project/bao-hypervisor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @josecm, @sandro2pinto, @DavidMCerdeira, @danielRep, @miguelafsilva5, @ninolomata

.github/CODEOWNERS:

* @josecm @sandro2pinto @DavidMCerdeira @danielRep

src/ @josecm @DavidMCerdeira
scripts/ @josecm

src/core/mpu @josecm @danielRep @miguelafsilva5

src/arch/armv8 @josecm @DavidMCerdeira
src/arch/armv8/armv8-r @josecm @danielRep @miguelafsilva5
src/arch/armv8/aarch32 @josecm @danielRep @miguelafsilva5

src/arch/riscv @josecm @ninolomata

feat(readme): Add link to documentation
  README.md
Owners: @josecm, @sandro2pinto, @DavidMCerdeira, @danielRep

feat(readme): Add link to documentation
  README.md
Owners: @josecm, @sandro2pinto, @DavidMCerdeira, @danielRep

fix(spinlock): add missing spinlock initializations
  src/arch/armv8/vgicv2.c
  src/arch/armv8/vgicv3.c
  src/arch/armv8/vm.c
  src/arch/riscv/irqc/aia/vaplic.c
  src/arch/riscv/irqc/plic/vplic.c
  src/core/mem.c
  src/core/mpu/mem.c
  src/core/objpool.c
  src/core/shmem.c
  src/core/vm.c
  src/core/vmm.c
Owners: @josecm, @DavidMCerdeira, @ninolomata, @danielRep, @miguelafsilva5

ref(spinlock): delete unused spinlock_init functions
  src/arch/armv8/aarch32/inc/arch/spinlock.h
  src/arch/armv8/aarch64/inc/arch/spinlock.h
  src/arch/riscv/inc/arch/spinlock.h
Owners: @josecm, @danielRep, @miguelafsilva5, @DavidMCerdeira, @ninolomata

fix(mpu): remove existing entry check
  src/arch/armv8/armv8-r/mpu.c
Owners: @josecm, @danielRep, @miguelafsilva5

fix(arch-as): Add mpu_entry_mask init value
  src/arch/armv8/armv8-r/inc/arch/mpu.h
  src/arch/armv8/armv8-r/mem.c
Owners: @josecm, @danielRep, @miguelafsilva5

fix(as): Move list init to before its usage
  src/arch/armv8/armv8-r/inc/arch/mpu.h
  src/arch/armv8/armv8-r/mpu.c
  src/core/mpu/mem.c
Owners: @josecm, @danielRep, @miguelafsilva5

ref(mpu): Optimize code in vmpu node compare
  src/core/mpu/mem.c
Owners: @josecm, @danielRep, @miguelafsilva5

ref(format): Format and add a comment on broadcast remove
  src/arch/armv8/armv8-r/mpu.c
  src/core/mpu/mem.c
Owners: @josecm, @danielRep, @miguelafsilva5

fix(spinlock): add missing spinlock initializations
  src/arch/armv8/vgicv2.c
  src/arch/armv8/vgicv3.c
  src/arch/armv8/vm.c
  src/arch/riscv/irqc/aia/vaplic.c
  src/arch/riscv/irqc/plic/vplic.c
  src/core/mem.c
  src/core/mpu/mem.c
  src/core/objpool.c
  src/core/shmem.c
  src/core/vm.c
  src/core/vmm.c
Owners: @josecm, @DavidMCerdeira, @ninolomata, @danielRep, @miguelafsilva5

ref(spinlock): delete unused spinlock_init functions
  src/arch/armv8/aarch32/inc/arch/spinlock.h
  src/arch/armv8/aarch64/inc/arch/spinlock.h
  src/arch/riscv/inc/arch/spinlock.h
Owners: @josecm, @danielRep, @miguelafsilva5, @DavidMCerdeira, @ninolomata

fix(mem): don't adjust pp_alloc start when alignment is unecessary
  src/core/mem.c
Owners: @josecm, @DavidMCerdeira

fix(armv8): return from cache probing if topology described in the plat
  src/arch/armv8/cache.c
Owners: @josecm, @DavidMCerdeira

ref(ipi): Update IPI API to support different architectures
  src/core/cpu.c
  src/core/inc/interrupts.h
  src/core/interrupts.c
Owners: @josecm, @DavidMCerdeira

ref(ipis): Update arch IPIs to comply with updated API
  src/arch/armv8/interrupts.c
  src/arch/riscv/interrupts.c
  src/core/interrupts.c
Owners: @josecm, @DavidMCerdeira, @ninolomata

fix(mem): don't adjust pp_alloc start when alignment is unecessary
  src/core/mem.c
Owners: @josecm, @DavidMCerdeira

ref(mpu): keep track of address space cpus directly
  src/core/mmu/inc/mem_prot/mem.h
  src/core/mpu/inc/mem_prot/mem.h
  src/core/mpu/mem.c
  src/core/mpu/vm.c
  src/core/vm.c
Owners: @josecm, @DavidMCerdeira, @danielRep, @miguelafsilva5

ref(mpu): pass address space to mpu mapping functions
  src/arch/armv8/armv8-r/mpu.c
  src/core/mpu/inc/mem_prot/mem.h
  src/core/mpu/mem.c
Owners: @josecm, @danielRep, @miguelafsilva5

feat(mem/mpu): add support for locked entries on the vmpu
  src/core/mpu/mem.c
  src/core/vm.c
Owners: @josecm, @danielRep, @miguelafsilva5, @DavidMCerdeira

feat(mem/mpu): add update api to vmpu
  src/core/mpu/inc/mem_prot/mem.h
  src/core/mpu/mem.c
Owners: @josecm, @danielRep, @miguelafsilva5

feat(mem/mpu): merge adjacent vmpu regions
  src/core/mpu/mem.c
Owners: @josecm, @danielRep, @miguelafsilva5

fix(mem): fix calculation of root bitmap num pages
  src/core/mem.c
Owners: @josecm, @DavidMCerdeira

ref(mem/mpu): map boot regions in mem init
  src/core/mpu/inc/mem_prot/mem.h
  src/core/mpu/mem.c
Owners: @josecm, @danielRep, @miguelafsilva5

fix(mem/mpu): remove extra memory being mapped
  src/core/mpu/mem.c
Owners: @josecm, @danielRep, @miguelafsilva5

fix(mpu): dealloate vMPU entry if mpu fails to insert region
  src/core/mpu/mem.c
Owners: @josecm, @danielRep, @miguelafsilva5

feat(arch/mpu): add mpu region context switch
  src/arch/armv8/aarch32/exceptions.S
  src/arch/armv8/aarch64/exceptions.S
  src/arch/armv8/armv8-r/inc/arch/mem.h
  src/arch/armv8/armv8-r/mem.c
  src/core/mpu/inc/mem_prot/mem.h
  src/core/mpu/mem.c
Owners: @josecm, @danielRep, @miguelafsilva5, @DavidMCerdeira

fix(mpu): move list initialization to before using the list
  src/core/mpu/mem.c
Owners: @josecm, @danielRep, @miguelafsilva5

ref(arch/mpu): change mpu driver to comply with new vmpu
  src/arch/armv8/aarch32/inc/arch/subarch/sysregs.h
  src/arch/armv8/aarch64/inc/arch/subarch/sysregs.h
  src/arch/armv8/armv8-r/aarch32/boot.S
  src/arch/armv8/armv8-r/aarch64/boot.S
  src/arch/armv8/armv8-r/inc/arch/mpu.h
  src/arch/armv8/armv8-r/inc/arch/profile/cpu.h
  src/arch/armv8/armv8-r/mpu.c
  src/arch/armv8/asm_defs.c
Owners: @josecm, @danielRep, @miguelafsilva5, @DavidMCerdeira

fix(armv8): return from cache probing if topology described in the plat
  src/arch/armv8/cache.c
Owners: @josecm, @DavidMCerdeira

fix(mem): don't adjust pp_alloc start when alignment is unecessary
  src/core/mem.c
Owners: @josecm, @DavidMCerdeira

build(macros): add mem non unified macro
  Makefile
Owners: @josecm, @sandro2pinto, @DavidMCerdeira, @danielRep

feat(mem): add perms to mem regions
  scripts/platform_defs_gen.c
  src/core/inc/mem.h
Owners: @josecm, @DavidMCerdeira

ref(mem): change hyp mem management to cope with non-unified plats
  src/arch/armv8/aarch32/boot.S
  src/arch/armv8/aarch64/boot.S
  src/arch/riscv/boot.S
  src/core/config.c
  src/core/cpu.c
  src/core/inc/bao.h
  src/core/inc/config.h
  src/core/inc/cpu.h
  src/core/inc/mem.h
  src/core/init.c
  src/core/mem.c
  src/core/mpu/config.c
Owners: @josecm, @danielRep, @miguelafsilva5, @DavidMCerdeira, @ninolomata

ref(linker): split lma and vma of data sec for non unified plats
  src/linker.ld
Owners: @josecm, @DavidMCerdeira

fix(mpu): deallocate vMPU entry if mpu fails to insert region
  src/core/mpu/mem.c
Owners: @josecm, @danielRep, @miguelafsilva5

fix(mpu): move list initialization to before using the list
  src/core/mpu/mem.c
Owners: @josecm, @danielRep, @miguelafsilva5

fix(mem): fix calculation of root bitmap num pages
  src/core/mem.c
Owners: @josecm, @DavidMCerdeira

fix(mem): don't adjust pp_alloc start when alignment is unecessary
  src/core/mem.c
Owners: @josecm, @DavidMCerdeira

fix(armv8): return from cache probing if topology described in the plat
  src/arch/armv8/cache.c
Owners: @josecm, @DavidMCerdeira

fix(mem): fix calculation of root bitmap num pages
  src/core/mem.c
Owners: @josecm, @DavidMCerdeira
