Repository bao-project/bao-hypervisor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @josecm, @sandro2pinto, @DavidMCerdeira, @danielRep, @miguelafsilva5, @ninolomata

build(macros): add mem non unified macro
  Makefile
Owners: @josecm, @sandro2pinto, @DavidMCerdeira, @danielRep

feat(mem): add perms to mem regions
  scripts/platform_defs_gen.c
  src/core/inc/mem.h
Owners: @josecm, @DavidMCerdeira

ref(mem): change hyp mem management to cope with non-unified plats
  src/arch/armv8/aarch32/boot.S
  src/arch/armv8/aarch64/boot.S
  src/arch/riscv/boot.S
  src/core/config.c
  src/core/cpu.c
  src/core/inc/bao.h
  src/core/inc/config.h
  src/core/inc/cpu.h
  src/core/inc/mem.h
  src/core/init.c
  src/core/mem.c
  src/core/mpu/config.c
Owners: @josecm, @danielRep, @miguelafsilva5, @DavidMCerdeira, @ninolomata

ref(linker): split lma and vma of data sec for non unified plats
  src/linker.ld
Owners: @josecm, @DavidMCerdeira

fix(objpool): mark objpool func as static to avoid missing symbol at O0
  src/core/inc/objpool.h
Owners: @josecm, @DavidMCerdeira

feat(armv8/boot): linearize cpu id according to number of clusters
  src/arch/armv8/aarch32/boot.S
Owners: @josecm, @danielRep, @miguelafsilva5

feat(s32z270): add platform files for nxp s32z270
  src/platform/drivers/linflexd_uart/inc/drivers/linflexd_uart.h
  src/platform/drivers/linflexd_uart/linflexd_uart.c
  src/platform/drivers/linflexd_uart/objects.mk
  src/platform/drivers/linflexd_uart/sources.mk
  src/platform/s32z270/inc/plat/platform.h
  src/platform/s32z270/inc/plat/psci.h
  src/platform/s32z270/objects.mk
  src/platform/s32z270/platform.mk
  src/platform/s32z270/s32z270_desc.c
Owners: @josecm, @DavidMCerdeira

feat(armv8): added support to cpu architecture defined initializations
  src/arch/armv8/arch.mk
  src/arch/armv8/implementation/cortex-r52.c
  src/arch/armv8/implementation/generic.c
  src/arch/armv8/objects.mk
  src/arch/armv8/vmm.c
Owners: @josecm, @DavidMCerdeira

feat(config): add example config file for 2 guests on S32Z270
  configs/cram_bank_interf/config.c
Owners: @josecm, @sandro2pinto, @DavidMCerdeira, @danielRep

ref(flags): Add compiler error flags and fix errors
  src/arch/armv8/armv8-r/cpu.c
  src/arch/armv8/armv8-r/inc/arch/mem.h
  src/arch/armv8/implementation/cortex-r52.c
  src/arch/armv8/implementation/generic.c
  src/arch/armv8/objects.mk
  src/arch/armv8/vmm.c
  src/core/init.c
  src/platform/drivers/linflexd_uart/inc/drivers/linflexd_uart.h
  src/platform/drivers/linflexd_uart/linflexd_uart.c
  src/platform/s32z270/s32z270_desc.c
Owners: @josecm, @danielRep, @miguelafsilva5, @DavidMCerdeira

feat(armv8): add implementation dependent configurations
  src/arch/armv8/arch.mk
  src/arch/armv8/armv8-r/vmm.c
  src/arch/armv8/implementation/cortex-r52.c
Owners: @josecm, @DavidMCerdeira, @danielRep, @miguelafsilva5

ref(format): Format original s32z files
  src/arch/armv8/armv8-r/cpu.c
  src/arch/armv8/armv8-r/vmm.c
  src/arch/armv8/vmm.c
  src/core/init.c
  src/platform/drivers/linflexd_uart/inc/drivers/linflexd_uart.h
  src/platform/drivers/linflexd_uart/linflexd_uart.c
  src/platform/s32z270/inc/plat/psci.h
Owners: @josecm, @danielRep, @miguelafsilva5, @DavidMCerdeira

WIP: TO BE REMOVED
  src/arch/armv8/aarch32/boot.S
  src/arch/armv8/armv8-r/aarch32/boot.S
  src/arch/armv8/armv8-r/mpu.c
  src/core/init.c
  src/platform/drivers/linflexd_uart/linflexd_uart.c
  src/platform/s32z270/s32z270_desc.c
Owners: @josecm, @danielRep, @miguelafsilva5, @DavidMCerdeira

feat(mmio): add macros to write/read from mmio regs
  src/core/inc/bao.h
  src/lib/inc/mmio.h
Owners: @josecm, @DavidMCerdeira

fix(boot): remove duplicated code in aarch32 boot
  src/arch/armv8/aarch32/boot.S
Owners: @josecm, @danielRep, @miguelafsilva5

feat(s32z270): add wakeup of cores logic
  src/arch/armv8/armv8-r/cpu.c
  src/platform/s32z270/inc/plat/plat_regs.h
  src/platform/s32z270/inc/plat/platform.h
  src/platform/s32z270/objects.mk
  src/platform/s32z270/plat.c
Owners: @josecm, @danielRep, @miguelafsilva5, @DavidMCerdeira

ref(linflexd): clean up uart driver
  src/platform/drivers/linflexd_uart/inc/drivers/linflexd_uart.h
  src/platform/drivers/linflexd_uart/linflexd_uart.c
Owners: @josecm, @DavidMCerdeira

feat(plat): support for platform initializations
  src/core/init.c
  src/platform/s32z270/inc/plat/plat_regs.h
  src/platform/s32z270/inc/plat/platform.h
  src/platform/s32z270/plat.c
  src/platform/s32z270/platform.mk
Owners: @josecm, @DavidMCerdeira

ref(s32z270): change plat description
  src/platform/s32z270/s32z270_desc.c
Owners: @josecm, @DavidMCerdeira

feat(sysregs): add actlr_el2 system register
  src/arch/armv8/aarch32/inc/arch/subarch/sysregs.h
  src/arch/armv8/aarch64/inc/arch/subarch/sysregs.h
  src/arch/armv8/armv8-r/vmm.c
  src/arch/armv8/inc/arch/sysregs.h
Owners: @josecm, @danielRep, @miguelafsilva5, @DavidMCerdeira

fix(armv8/aarch32): restore/save extra lr on vm entry/exit
  src/arch/armv8/aarch32/exceptions.S
  src/arch/armv8/aarch32/inc/arch/subarch/vm.h
Owners: @josecm, @danielRep, @miguelafsilva5

fix(macros): Change conditional compiling to use correct macro
  src/arch/armv8/aarch32/exceptions.S
  src/arch/armv8/asm_defs.c
Owners: @josecm, @danielRep, @miguelafsilva5, @DavidMCerdeira

fix(armv8/aarch32): correctly access state of different el1 modes
  src/arch/armv8/aarch32/exceptions.S
  src/arch/armv8/aarch32/inc/arch/subarch/sysregs.h
  src/arch/armv8/aarch32/vm.c
  src/arch/armv8/inc/arch/sysregs.h
Owners: @josecm, @danielRep, @miguelafsilva5, @DavidMCerdeira

fix(aarch64-boot): Add context switch of mpu entries to aarch64
  src/arch/armv8/aarch64/exceptions.S
Owners: @josecm, @DavidMCerdeira

ref(entry_mask): Clarify entry mask name to mpu_entry_mask
  src/arch/armv8/armv8-r/inc/arch/mem.h
  src/arch/armv8/armv8-r/mpu.c
  src/arch/armv8/asm_defs.c
Owners: @josecm, @danielRep, @miguelafsilva5, @DavidMCerdeira

fix(unused_arg): remove UNUSED_ARG macro
  src/core/mpu/mem.c
Owners: @josecm, @danielRep, @miguelafsilva5

fix(coalesce): Remove locked from coalesce API
  src/core/mpu/mem.c
Owners: @josecm, @danielRep, @miguelafsilva5

fix(vmpu): Deallocate entry when it fails to insert a region
  src/core/mpu/mem.c
Owners: @josecm, @danielRep, @miguelafsilva5

ref(locked): Change name of API that checks if a regions should be locked
  src/core/mpu/mem.c
Owners: @josecm, @danielRep, @miguelafsilva5

ref(perms): Refactor to use less code lines
  src/arch/armv8/armv8-r/mpu.c
Owners: @josecm, @danielRep, @miguelafsilva5

fix(mpu-write): Add ISB after writing in mpu entries
  src/arch/armv8/armv8-r/mpu.c
Owners: @josecm, @danielRep, @miguelafsilva5

fix(mpu_bitmaps): Change MPU driver to use bitmap API
  src/arch/armv8/armv8-r/inc/arch/mpu.h
  src/arch/armv8/armv8-r/mpu.c
  src/arch/armv8/asm_defs.c
Owners: @josecm, @danielRep, @miguelafsilva5, @DavidMCerdeira

ref(format): Fix formatting
  src/arch/armv8/armv8-r/inc/arch/mpu.h
  src/arch/armv8/armv8-r/mpu.c
  src/core/mpu/mem.c
Owners: @josecm, @danielRep, @miguelafsilva5

ref(comments): Remove stale comments
  src/arch/armv8/aarch32/exceptions.S
Owners: @josecm, @danielRep, @miguelafsilva5

fix(mpu): Clear entry on mpu_entry_mask
  src/arch/armv8/armv8-r/mpu.c
Owners: @josecm, @danielRep, @miguelafsilva5

ref(mpu): Change mpu_entry_update_limit function name
  src/arch/armv8/armv8-r/mpu.c
Owners: @josecm, @danielRep, @miguelafsilva5

fix(armv8/aarch32): correctly access state of different el1 modes
  src/arch/armv8/aarch32/exceptions.S
  src/arch/armv8/aarch32/inc/arch/subarch/sysregs.h
  src/arch/armv8/aarch32/vm.c
  src/arch/armv8/inc/arch/sysregs.h
Owners: @josecm, @danielRep, @miguelafsilva5, @DavidMCerdeira

fix(aarch64): Fix mpu context switch and mpu enable
  src/arch/armv8/aarch64/exceptions.S
  src/arch/armv8/armv8-r/aarch64/boot.S
Owners: @josecm, @DavidMCerdeira, @danielRep, @miguelafsilva5

fix(ci): Remove unused function
  src/arch/armv8/armv8-r/mpu.c
Owners: @josecm, @danielRep, @miguelafsilva5

wip(locked_check): Remove some locked checks
  src/core/mpu/mem.c
Owners: @josecm, @danielRep, @miguelafsilva5

.github/CODEOWNERS:

* @josecm @sandro2pinto @DavidMCerdeira @danielRep

src/ @josecm @DavidMCerdeira
scripts/ @josecm

src/core/mpu @josecm @danielRep @miguelafsilva5

src/arch/armv8 @josecm @DavidMCerdeira
src/arch/armv8/armv8-r @josecm @danielRep @miguelafsilva5
src/arch/armv8/aarch32 @josecm @danielRep @miguelafsilva5

src/arch/riscv @josecm @ninolomata
