Repository bao-project/bao-hypervisor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @josecm, @sandro2pinto, @DavidMCerdeira, @danielRep, @miguelafsilva5, @ninolomata

feat(scripts): add bitmap array pool size macro
  scripts/platform_defs_gen.c
Owners: @josecm

ref(mem): change bitmaps to static allocation
  src/core/mem.c
Owners: @josecm, @DavidMCerdeira

ref(arch/mpu): change mpu driver to comply with new vmpu
  src/arch/armv8/aarch32/inc/arch/subarch/sysregs.h
  src/arch/armv8/aarch64/inc/arch/subarch/sysregs.h
  src/arch/armv8/armv8-r/aarch32/boot.S
  src/arch/armv8/armv8-r/aarch64/boot.S
  src/arch/armv8/armv8-r/inc/arch/mpu.h
  src/arch/armv8/armv8-r/inc/arch/profile/cpu.h
  src/arch/armv8/armv8-r/mpu.c
  src/arch/armv8/asm_defs.c
Owners: @josecm, @danielRep, @miguelafsilva5, @DavidMCerdeira

feat(arch/mpu): add mpu region context switch
  src/arch/armv8/aarch32/exceptions.S
  src/arch/armv8/aarch64/exceptions.S
  src/arch/armv8/armv8-r/inc/arch/mem.h
  src/arch/armv8/armv8-r/mem.c
  src/core/mpu/inc/mem_prot/mem.h
  src/core/mpu/mem.c
Owners: @josecm, @danielRep, @miguelafsilva5, @DavidMCerdeira

fix(mpu): deallocate vMPU entry if mpu fails to insert region
  src/core/mpu/mem.c
Owners: @josecm, @danielRep, @miguelafsilva5

fix(mpu): move list initialization to before using the list
  src/core/mpu/mem.c
Owners: @josecm, @danielRep, @miguelafsilva5

feat(mem/mpu): merge adjacent vmpu regions
  src/core/mpu/mem.c
Owners: @josecm, @danielRep, @miguelafsilva5

ref(arch/mpu): change mpu driver to comply with new vmpu
  src/arch/armv8/aarch32/inc/arch/subarch/sysregs.h
  src/arch/armv8/aarch64/inc/arch/subarch/sysregs.h
  src/arch/armv8/armv8-r/aarch32/boot.S
  src/arch/armv8/armv8-r/aarch64/boot.S
  src/arch/armv8/armv8-r/inc/arch/mpu.h
  src/arch/armv8/armv8-r/inc/arch/profile/cpu.h
  src/arch/armv8/armv8-r/mpu.c
  src/arch/armv8/asm_defs.c
Owners: @josecm, @danielRep, @miguelafsilva5, @DavidMCerdeira

ref(mem/mpu): map boot regions in mem init
  src/core/mpu/inc/mem_prot/mem.h
  src/core/mpu/mem.c
Owners: @josecm, @danielRep, @miguelafsilva5

fix(mem/mpu): remove extra memory being mapped
  src/core/mpu/mem.c
Owners: @josecm, @danielRep, @miguelafsilva5

fix(mpu): deallocate vMPU entry if mpu fails to insert region
  src/core/mpu/mem.c
Owners: @josecm, @danielRep, @miguelafsilva5

feat(mem/mpu): add update api to vmpu
  src/core/mpu/inc/mem_prot/mem.h
  src/core/mpu/mem.c
Owners: @josecm, @danielRep, @miguelafsilva5

ref(mpu): pass address space to mpu mapping functions
  src/arch/armv8/armv8-r/mpu.c
  src/core/mpu/inc/mem_prot/mem.h
  src/core/mpu/mem.c
Owners: @josecm, @danielRep, @miguelafsilva5

ref(mpu): keep track of address space cpus directly
  src/core/mmu/inc/mem_prot/mem.h
  src/core/mpu/inc/mem_prot/mem.h
  src/core/mpu/mem.c
  src/core/mpu/vm.c
  src/core/vm.c
Owners: @josecm, @DavidMCerdeira, @danielRep, @miguelafsilva5

fix(mpu): move list initialization to before using the list
  src/core/mpu/mem.c
Owners: @josecm, @danielRep, @miguelafsilva5

feat(mem/mpu): add support for locked entries on the vmpu
  src/core/mpu/mem.c
  src/core/vm.c
Owners: @josecm, @danielRep, @miguelafsilva5, @DavidMCerdeira

feat(arch/mpu): add mpu region context switch
  src/arch/armv8/aarch32/exceptions.S
  src/arch/armv8/aarch64/exceptions.S
  src/arch/armv8/armv8-r/inc/arch/mem.h
  src/arch/armv8/armv8-r/mem.c
  src/core/mpu/inc/mem_prot/mem.h
  src/core/mpu/mem.c
Owners: @josecm, @danielRep, @miguelafsilva5, @DavidMCerdeira

build(macros): add mem non unified macro
  Makefile
Owners: @josecm, @sandro2pinto, @DavidMCerdeira, @danielRep

feat(mem): add perms to mem regions
  scripts/platform_defs_gen.c
  src/core/inc/mem.h
Owners: @josecm, @DavidMCerdeira

ref(linker): split lma and vma of data sec for non unified plats
  src/linker.ld
Owners: @josecm, @DavidMCerdeira

ref(mem): change hyp mem management to cope with non-unified plats
  src/arch/armv8/aarch32/boot.S
  src/arch/armv8/aarch64/boot.S
  src/arch/riscv/boot.S
  src/core/config.c
  src/core/cpu.c
  src/core/inc/bao.h
  src/core/inc/config.h
  src/core/inc/cpu.h
  src/core/inc/mem.h
  src/core/init.c
  src/core/mem.c
  src/core/mpu/config.c
Owners: @josecm, @danielRep, @miguelafsilva5, @DavidMCerdeira, @ninolomata

fix(mem): fix root pool bitmap size
  src/core/inc/mem.h
  src/core/mem.c
  src/core/mmu/mem.c
  src/core/mpu/mem.c
Owners: @josecm, @DavidMCerdeira, @danielRep, @miguelafsilva5

fix(mem): fix root pool bitmap size
  src/core/inc/mem.h
  src/core/mem.c
  src/core/mmu/mem.c
  src/core/mpu/mem.c
Owners: @josecm, @DavidMCerdeira, @danielRep, @miguelafsilva5

feat(scripts): add bitmap array pool size macro
  scripts/platform_defs_gen.c
Owners: @josecm

ref(mem): change bitmaps to static allocation
  src/core/mem.c
Owners: @josecm, @DavidMCerdeira

fix(mem): change bitmap_pool to static
  src/core/mem.c
Owners: @josecm, @DavidMCerdeira

fix(mem): remove redundant return
  src/core/mem.c
Owners: @josecm, @DavidMCerdeira

fix(mem): fix mem_bitmap_pool_alloc calculations
  src/core/mem.c
Owners: @josecm, @DavidMCerdeira

fix(mem): remove unnecessary boolean
  src/core/mem.c
Owners: @josecm, @DavidMCerdeira

feat(mmio): add mmio write and read accessors
  src/lib/inc/mmio.h
Owners: @josecm, @DavidMCerdeira

feat(plat): add platform initialization functions
  src/core/inc/platform.h
  src/core/init.c
  src/core/objects.mk
  src/core/platform.c
Owners: @josecm, @DavidMCerdeira

fix(mem): pass pool bitmap directly
  src/core/mem.c
Owners: @josecm, @DavidMCerdeira

fix(mem): alloc directly root pool on global bitmap
  src/core/mem.c
Owners: @josecm, @DavidMCerdeira

update(README): revise supported platform list
  README.md
Owners: @josecm, @sandro2pinto, @DavidMCerdeira, @danielRep

feat(rh850): add support for IPI emulation
  src/arch/rh850/aborts.c
  src/arch/rh850/boot.S
  src/arch/rh850/cpu.c
  src/arch/rh850/inc/arch/emul.h
  src/arch/rh850/inc/arch/intc.h
  src/arch/rh850/inc/arch/interrupts.h
  src/arch/rh850/inc/arch/ipir.h
  src/arch/rh850/inc/arch/vintc.h
  src/arch/rh850/inc/arch/vm.h
  src/arch/rh850/intc.c
  src/arch/rh850/interrupts.c
  src/arch/rh850/ipir.c
  src/arch/rh850/objects.mk
  src/arch/rh850/vintc.c
  src/arch/rh850/vm.c
  src/core/inc/emul.h
  src/platform/rh850-u2a16/u2a16_desc.c
Owners: @josecm, @DavidMCerdeira

feat(rh850): add support for BOOTCTRL emulation
  src/arch/rh850/boot.S
  src/arch/rh850/cpu.c
  src/arch/rh850/inc/arch/cpu.h
  src/arch/rh850/inc/arch/vintc.h
  src/arch/rh850/inc/arch/vm.h
  src/arch/rh850/ipir.c
  src/arch/rh850/vintc.c
  src/arch/rh850/vm.c
Owners: @josecm, @DavidMCerdeira

update(README): revise supported platform list
  README.md
Owners: @josecm, @sandro2pinto, @DavidMCerdeira, @danielRep

build(macros): add mem non unified macro
  Makefile
Owners: @josecm, @sandro2pinto, @DavidMCerdeira, @danielRep

ref(mem): change hyp mem management to cope with non-unified plats
  src/arch/armv8/aarch32/boot.S
  src/arch/armv8/aarch64/boot.S
  src/arch/riscv/boot.S
  src/core/config.c
  src/core/cpu.c
  src/core/inc/bao.h
  src/core/inc/config.h
  src/core/inc/cpu.h
  src/core/inc/mem.h
  src/core/init.c
  src/core/mem.c
  src/core/mpu/config.c
Owners: @josecm, @danielRep, @miguelafsilva5, @DavidMCerdeira, @ninolomata

ref(linker): split lma and vma of data sec for non unified plats
  src/linker.ld
Owners: @josecm, @DavidMCerdeira

.github/CODEOWNERS:

* @josecm @sandro2pinto @DavidMCerdeira @danielRep

src/ @josecm @DavidMCerdeira
scripts/ @josecm

src/core/mpu @josecm @danielRep @miguelafsilva5

src/arch/armv8 @josecm @DavidMCerdeira
src/arch/armv8/armv8-r @josecm @danielRep @miguelafsilva5
src/arch/armv8/aarch32 @josecm @danielRep @miguelafsilva5

src/arch/riscv @josecm @ninolomata
