Repository bao-project/bao-hypervisor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @josecm, @sandro2pinto, @DavidMCerdeira, @danielRep, @miguelafsilva5, @ninolomata

feat(unique-asid): force addr spaces to have unique IDs
  src/core/mmu/inc/mem_prot/mem.h
  src/core/mmu/mem.c
  src/core/mpu/inc/mem_prot/mem.h
  src/core/mpu/mem.c
Owners: @josecm, @DavidMCerdeira, @danielRep, @miguelafsilva5

ref(as_init): Remove id from as_init prototype
  src/core/mmu/inc/mem_prot/mem.h
  src/core/mmu/mem.c
  src/core/mmu/vm.c
  src/core/mpu/inc/mem_prot/mem.h
  src/core/mpu/mem.c
  src/core/mpu/vm.c
Owners: @josecm, @DavidMCerdeira, @danielRep, @miguelafsilva5

fix: vm lock and sync initialization
  src/core/inc/vm.h
  src/core/vm.c
  src/core/vmm.c
Owners: @josecm, @DavidMCerdeira

ref: Replace hardcoded booleans with named macros
  src/arch/armv8/armv8-a/smmuv2.c
  src/arch/armv8/armv8-r/mpu.c
  src/arch/armv8/armv8-r/vmm.c
  src/arch/armv8/inc/arch/vgic.h
  src/arch/armv8/vgic.c
  src/arch/armv8/vgicv2.c
  src/arch/armv8/vgicv3.c
  src/arch/riscv/iommu.c
  src/arch/riscv/irqc/aia/imsic.c
  src/core/inc/mem.h
  src/core/mem.c
  src/core/mmu/mem.c
  src/core/mpu/mem.c
  src/core/objpool.c
  src/core/shmem.c
  src/core/vm.c
  src/core/vmm.c
  src/lib/inc/bitmap.h
Owners: @josecm, @DavidMCerdeira, @danielRep, @miguelafsilva5, @ninolomata

fix(mpu-regions): make region lookup ASID-aware and merge find helpers
  src/arch/armv8/armv8-r/inc/arch/mpu.h
  src/arch/armv8/armv8-r/mpu.c
  src/core/inc/types.h
Owners: @josecm, @danielRep, @miguelafsilva5, @DavidMCerdeira

ref(priv): remove as->type to priv function
  src/arch/armv8/armv8-r/mpu.c
Owners: @josecm, @danielRep, @miguelafsilva5

wip(github_actions): test workflows
  .github/workflows/test-framework.yaml
  tests/flake.nix
Owners: @josecm, @sandro2pinto, @DavidMCerdeira, @danielRep

fix(riscv): make all boot code .norelax
  src/arch/riscv/boot.S
Owners: @josecm, @ninolomata

fix(riscv): adapt boot symbol variables size to XLEN
  src/arch/riscv/boot.S
Owners: @josecm, @ninolomata

ref: move shmem struct to shmem header
  src/core/inc/mem.h
  src/core/inc/shmem.h
  src/core/mem.c
  src/core/mpu/config.c
Owners: @josecm, @DavidMCerdeira, @danielRep, @miguelafsilva5

feat(armv8r): handle different timer init cases
  src/arch/armv8/armv8-r/vmm.c
  src/arch/armv8/inc/arch/platform.h
Owners: @josecm, @danielRep, @miguelafsilva5, @DavidMCerdeira

ref(riscv): remove redundant sstc init
  src/arch/riscv/vm.c
Owners: @josecm, @ninolomata

feat(slave-side-prot): add mmio regions to platform description
  src/core/inc/platform.h
  src/core/mpu/mem.c
Owners: @josecm, @DavidMCerdeira, @danielRep, @miguelafsilva5

feat(slave-side-prot): add device access control enable function
  src/core/inc/vm.h
  src/core/vm.c
Owners: @josecm, @DavidMCerdeira

feat(slave-side-prot): update Makefile to define prot macro
  Makefile
Owners: @josecm, @sandro2pinto, @DavidMCerdeira, @danielRep

fix: vm lock and sync initialization
  src/core/inc/vm.h
  src/core/vm.c
  src/core/vmm.c
Owners: @josecm, @DavidMCerdeira

ref: move shmem struct to shmem header
  src/core/inc/mem.h
  src/core/inc/shmem.h
  src/core/mem.c
  src/core/mpu/config.c
Owners: @josecm, @DavidMCerdeira, @danielRep, @miguelafsilva5

feat(make): make sure executable is not position independent
  Makefile
Owners: @josecm, @sandro2pinto, @DavidMCerdeira, @danielRep

ref(priv): remove as->type to priv function
  src/arch/armv8/armv8-r/mpu.c
Owners: @josecm, @danielRep, @miguelafsilva5

fix(mpu-regions): make region lookup ASID-aware and merge find helpers
  src/arch/armv8/armv8-r/inc/arch/mpu.h
  src/arch/armv8/armv8-r/mpu.c
  src/core/inc/types.h
Owners: @josecm, @danielRep, @miguelafsilva5, @DavidMCerdeira

feat(slave-side-prot): add mmio regions to platform description
  src/core/inc/platform.h
  src/core/mpu/mem.c
Owners: @josecm, @DavidMCerdeira, @danielRep, @miguelafsilva5

feat(slave-side-prot): update Makefile to define prot macro
  Makefile
Owners: @josecm, @sandro2pinto, @DavidMCerdeira, @danielRep

feat(slave-side-prot): add device access control enable function
  src/core/inc/vm.h
  src/core/vm.c
Owners: @josecm, @DavidMCerdeira

fix(img_addr): define load and data address in C
  src/arch/armv8/aarch32/boot.S
  src/arch/armv8/aarch64/boot.S
  src/arch/riscv/boot.S
Owners: @josecm, @danielRep, @miguelafsilva5, @DavidMCerdeira, @ninolomata

ref(mem): change hyp mem management to cope with non-unified plats
  src/arch/armv8/aarch32/boot.S
  src/arch/armv8/aarch64/boot.S
  src/arch/riscv/boot.S
Owners: @josecm, @danielRep, @miguelafsilva5, @DavidMCerdeira, @ninolomata

.github/CODEOWNERS:

* @josecm @sandro2pinto @DavidMCerdeira @danielRep

src/ @josecm @DavidMCerdeira
scripts/ @josecm

src/core/mpu @josecm @danielRep @miguelafsilva5

src/arch/armv8 @josecm @DavidMCerdeira
src/arch/armv8/armv8-r @josecm @danielRep @miguelafsilva5
src/arch/armv8/aarch32 @josecm @danielRep @miguelafsilva5

src/arch/riscv @josecm @ninolomata
