Repository bao-project/bao-hypervisor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @josecm, @sandro2pinto, @DavidMCerdeira, @danielRep, @miguelafsilva5, @ninolomata

feat(mem): add perms to mem regions
  scripts/platform_defs_gen.c
  src/core/inc/mem.h
Owners: @josecm, @DavidMCerdeira

fix(linker): remove unnecessary else branch
  src/linker.ld
Owners: @josecm, @DavidMCerdeira

fix(mem): change mem permissions naming
  scripts/platform_defs_gen.c
  src/core/inc/mem.h
Owners: @josecm, @DavidMCerdeira

fix(mem): remove unnecessary conditional macro
  src/core/mem.c
Owners: @josecm, @DavidMCerdeira

fix(mem): move cpus reservation to pp_reserve_cpus
  src/core/mem.c
Owners: @josecm, @DavidMCerdeira

fix(mem): change page_pool naming
  src/core/mem.c
Owners: @josecm, @DavidMCerdeira

fix(mem): change find root region condition
  src/core/mem.c
Owners: @josecm, @DavidMCerdeira

fix(headers): change global variables to mem.h
  src/core/inc/bao.h
  src/core/inc/mem.h
Owners: @josecm, @DavidMCerdeira

fix(gens): add option to define data addr in config
  scripts/config_defs_gen.c
  scripts/platform_defs_gen.c
  src/core/inc/config.h
  src/linker.ld
Owners: @josecm, @DavidMCerdeira

fix(format): fix format issues
  src/core/mem.c
Owners: @josecm, @DavidMCerdeira

fix(mem): add missing init boot regions
  src/arch/armv8/armv8-r/inc/arch/mem.h
  src/core/mpu/mem.c
Owners: @josecm, @danielRep, @miguelafsilva5

fix(img_addr): define load and data address in C
  src/arch/armv8/aarch32/boot.S
  src/arch/armv8/aarch64/boot.S
  src/arch/riscv/boot.S
  src/core/inc/mem.h
  src/core/mem.c
Owners: @josecm, @danielRep, @miguelafsilva5, @DavidMCerdeira, @ninolomata

fix(linker): add padding section to linker
  src/linker.ld
Owners: @josecm, @DavidMCerdeira

fix(rh850): fix IPIR channel decoding
  src/arch/rh850/boot.S
  src/arch/rh850/ipir.c
Owners: @josecm, @DavidMCerdeira

fix(cortexr): change hyp flags to outer-shareable
  src/arch/armv8/armv8-r/inc/arch/mem.h
Owners: @josecm, @danielRep, @miguelafsilva5

fix(cortexr): change hyp flags to outer-shareable
  src/arch/armv8/armv8-r/inc/arch/mem.h
Owners: @josecm, @danielRep, @miguelafsilva5

feat(scripts): add bitmap array pool size macro
  scripts/platform_defs_gen.c
Owners: @josecm

ref(mem): change bitmaps to static allocation
  src/core/mem.c
  src/lib/inc/bitmap.h
Owners: @josecm, @DavidMCerdeira

ref(bitmap): change bitmap size macros
  scripts/platform_defs_gen.c
  src/core/objpool.c
  src/lib/inc/bitmap.h
Owners: @josecm, @DavidMCerdeira

feat(plat): add platform initialization functions
  src/core/inc/platform.h
  src/core/init.c
  src/core/objects.mk
  src/core/platform.c
Owners: @josecm, @DavidMCerdeira

feat(scripts): add bitmap array pool size macro
  scripts/platform_defs_gen.c
Owners: @josecm

ref(mem): change bitmaps to static allocation
  src/core/mem.c
  src/lib/inc/bitmap.h
Owners: @josecm, @DavidMCerdeira

ref(bitmap): change bitmap size macros
  scripts/platform_defs_gen.c
  src/core/objpool.c
  src/lib/inc/bitmap.h
Owners: @josecm, @DavidMCerdeira

feat(plat): add platform initialization functions
  src/core/inc/platform.h
  src/core/init.c
  src/core/objects.mk
  src/core/platform.c
Owners: @josecm, @DavidMCerdeira

build(macros): add mem non unified macro
  Makefile
Owners: @josecm, @sandro2pinto, @DavidMCerdeira, @danielRep

feat(mem): add memory permissions to regions
  src/core/inc/mem.h
Owners: @josecm, @DavidMCerdeira

feat(scripts): generate data memory derived macros
  scripts/config_defs_gen.c
  scripts/platform_defs_gen.c
  src/core/inc/config.h
Owners: @josecm, @DavidMCerdeira

ref(linker): split lma and vma of data sec for non unified plats
  src/linker.ld
Owners: @josecm, @DavidMCerdeira

feat(mem): add image and data addresses global variables
  src/arch/armv8/aarch32/boot.S
  src/arch/armv8/aarch64/boot.S
  src/arch/riscv/boot.S
  src/core/config.c
  src/core/cpu.c
  src/core/inc/bao.h
  src/core/inc/config.h
  src/core/inc/cpu.h
  src/core/inc/mem.h
  src/core/init.c
  src/core/mem.c
  src/core/mpu/config.c
Owners: @josecm, @danielRep, @miguelafsilva5, @DavidMCerdeira, @ninolomata

ref(mem): change mem init to cope with non-unified plats
  src/arch/armv8/armv8-r/inc/arch/mem.h
  src/core/mem.c
  src/core/mpu/mem.c
Owners: @josecm, @danielRep, @miguelafsilva5, @DavidMCerdeira

feat(mem): add image and data addresses global variables
  src/arch/armv8/aarch32/boot.S
  src/arch/armv8/aarch64/boot.S
  src/arch/riscv/boot.S
  src/core/config.c
  src/core/cpu.c
  src/core/inc/bao.h
  src/core/inc/config.h
  src/core/inc/cpu.h
  src/core/inc/mem.h
  src/core/init.c
  src/core/mem.c
  src/core/mpu/config.c
Owners: @josecm, @danielRep, @miguelafsilva5, @DavidMCerdeira, @ninolomata

ref(linker): split lma and vma of data sec for non unified plats
  src/linker.ld
Owners: @josecm, @DavidMCerdeira

build(macros): add mem non unified macro
  Makefile
Owners: @josecm, @sandro2pinto, @DavidMCerdeira, @danielRep

feat(scripts): generate data memory derived macros
  scripts/config_defs_gen.c
  scripts/platform_defs_gen.c
  src/core/inc/config.h
Owners: @josecm, @DavidMCerdeira

ref(mem): change mem init to cope with non-unified plats
  src/arch/armv8/armv8-r/inc/arch/mem.h
  src/core/mem.c
  src/core/mpu/mem.c
Owners: @josecm, @danielRep, @miguelafsilva5, @DavidMCerdeira

feat(mem): add memory permissions to regions
  src/core/inc/mem.h
Owners: @josecm, @DavidMCerdeira

feat(rh850): Use VMID as SPID for VMs
  src/arch/rh850/aborts.c
  src/arch/rh850/boot.S
  src/arch/rh850/cpu.c
  src/arch/rh850/exceptions.S
  src/arch/rh850/inc/arch/mem.h
  src/arch/rh850/inc/arch/mpu.h
  src/arch/rh850/inc/arch/srs.h
  src/arch/rh850/inc/arch/vm.h
  src/arch/rh850/inc/arch/vmm.h
  src/arch/rh850/ipir.c
  src/arch/rh850/mem.c
  src/arch/rh850/mpu.c
  src/arch/rh850/vintc.c
  src/arch/rh850/vm.c
  src/arch/rh850/vmm.c
  src/platform/rh850-u2a16/inc/plat/pbg.h
  src/platform/rh850-u2a16/inc/plat/platform.h
  src/platform/rh850-u2a16/inc/plat/stbc.h
  src/platform/rh850-u2a16/objects.mk
  src/platform/rh850-u2a16/pbg.c
  src/platform/rh850-u2a16/plat.c
  src/platform/rh850-u2a16/stbc.c
Owners: @josecm, @DavidMCerdeira

update(single-baremetal): fix recipe and tests
  tests/recipes/single-baremetal/default.nix
  tests/recipes/single-baremetal/src/boot.c
  tests/recipes/single-baremetal/src/irq.c
Owners: @josecm, @sandro2pinto, @DavidMCerdeira, @danielRep

fix(mpu): perform RMW and inst barrier on mpu enable
  src/arch/armv8/armv8-r/aarch32/boot.S
  src/arch/armv8/armv8-r/mpu.c
Owners: @josecm, @danielRep, @miguelafsilva5

fix(mpu): perform RMW and inst barrier on mpu enable
  src/arch/armv8/armv8-r/aarch32/boot.S
  src/arch/armv8/armv8-r/mpu.c
Owners: @josecm, @danielRep, @miguelafsilva5

.github/CODEOWNERS:

* @josecm @sandro2pinto @DavidMCerdeira @danielRep

src/ @josecm @DavidMCerdeira
scripts/ @josecm

src/core/mpu @josecm @danielRep @miguelafsilva5

src/arch/armv8 @josecm @DavidMCerdeira
src/arch/armv8/armv8-r @josecm @danielRep @miguelafsilva5
src/arch/armv8/aarch32 @josecm @danielRep @miguelafsilva5

src/arch/riscv @josecm @ninolomata
